apiVersion: apps/v1
kind: Deployment
metadata:
  name: maze-racer-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: maze-racer-frontend
  template:
    metadata:
      labels:
        app: maze-racer-frontend
    spec:
      imagePullSecrets:
        - name: ghcr-creds
      containers:
        - name: web
          image: ghcr.io/chowieuk/maze-racer-frontend@sha256:62ea369f9f9dd7fd1ed682b8470b1d3107e6a3bcdb44d8808e76d99dfeeab64b
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
